<h1>Listing news_agencies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @news_agencies.each do |news_agency| %>
  <%= render news_agency %>
<% end %>
</table>

<br />

<%= link_to 'New News agency', new_news_agency_path %>
